<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic/dist/semantic.min.css') }}">
    <script src="{{ url_for('static', filename='semantic/dist/semantic.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Vietcombank</title>
</head>
<body>
    <div class="top">
        <a href="{{ url_for('home.index')}}">
            <div class="logo">

            </div>
        </a>
    </div>
    <div class="ui container">
        <h1>Profile Detail</h1>
        <div class="wrapper">
            <h2>Hello {{ card.name }}</h2>
            <h2>Số dư: {{ card.money | price }} VND</h2>
        </div>
        <div class="form-wrapper">
            <h2>Topup Money</h2>
            <form method="POST" class="ui form" action="{{ url_for ('home.topup') }} ">
                <div class="inline fields">
                    <label for="card-id">Card ID :  </label>
                    <input type="text" name="card-id" class="ui input" value="{{ card.id }}">
                </div>
                <div class="inline fields">
                    <label for="topup-money">Amount :  </label>
                    <input type="number" name="topup-money" class="ui input">
                </div>
                <div class="group-button">
                    <button class="ui button secondary register-btn" type="submit">Topup</button>
                </div>
            </form>
        </div>

    </div>
</body>
</html>