.sites-menu-wrapper {
    width: 100%;
    height: 40px;
    position: fixed;
}

.item.logo{
    background: url('https://source.unsplash.com/VCLNNMRl07k/25x25');
}

#sites-menu {
    background: rgba(10,10,10,1);
    margin: auto;
    text-align: center;
}

#sites-menu .item{
    font-size: 1.3rem;
    color: #eee;
    display: inline-block;
    padding: 0.5rem 1.2rem;
}

#sites-menu .item.logout{
    position: absolute;
    right: 10px;
}