{% extends 'sites/shop/common/layout.html' %}

{% block content %}
    <h1 class="title" style="text-align: center">
        CART
    </h1>
    <form id="cart-form" method="post" style="margin: 0 auto; min-height: 370px;">
        <table class="ui collapsing fixed celled unstackable table" id="cart-table" >
            <thead  class="full-width">
                <th class="">STT</th>
                <th> Product Name</th>
                <th> Description </th>
                <th> Quantity </th>
                <th> Sub Total </th>
                <th></th>
            </thead>
            {% for product in products %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{product.name}}
                </td>
                <td>
                    {{ product.description }}
                </td>
                <td>
                    {{ cart.products_data[product.id] }}
                </td>
                <td style="text-align: right;">
                    {{ (product.price * cart.products_data[product.id] ) | price}} đ
                </td>
                <td class="center aligned">
                    <i class="icon remove red" id="{{ product.id }}" onclick="removeFromCart(event)"></i>
                </td>
            </tr>

            {% endfor %}
            <tfoot class="sum-row" style="font-size: 1.2rem;">
                <th colspan="4">
                    <div>
                        <b>Total Cart:</b>
                    </div>
                </th>
                <th style="text-align: right;"> <b> {{ cart.sum_value | price }}  đ </b></th>
                <th></th>
            </tfoot>
        </table>
        <div class="checkout-btn" style="text-align: right;">
            <a href="{{ url_for('shop.checkout') }}" class="ui button primary" id="checkout-btn">Check Out</a>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/cart.js')}}"></script>
{% endblock %}
