{% extends "sites/shop/common/layout.html" %}
{% block css %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/sites/shop/common/style.css') }}">
{% endblock %}

{% block content %}
	<!-- Top Container -->
	<section class="top-container">
		<header class="showcase">
			<h1>Your Web Presence</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			</p>
			<a href="#" class="btn">Read More</a>
		</header>
		<div class="top-box top-box-a">
			<h4>Membership</h4>
			<p class="price">$199/month</p>
			<a href="" class="btn">Buy Now</a>
		</div>

		<div class="top-box top-box-b">
			<h4>Pro Membership</h4>
			<p class="price">$299/month</p>
			<a href="" class="btn">Buy Now</a>
		</div>
	</section>

	<!-- Boxes Section -->
	<section class="boxes">
		{% for product in products %}
		<a href="{{ url_for('product.detail', product_name=product.name, product_id=product.id)}}" class="box">
			<span class="image">
				<img src="{{product.image}}"/>
			</span>
			<span class="title">{{ product.name }}</span>
			<p class="description">{{ product.description }}</p>
			<span class="price"> {{ product.price }} </span>
		</a>
		{% endfor %}
		{% for product in products %}
		<a href="{{ url_for('product.detail', product_name=product.name, product_id=product.id)}}" class="box">
			<span class="image">
				<img src="{{product.image}}"/>
			</span>
			<span class="title">{{ product.name }}</span>
			<p class="description">{{ product.description }}</p>
			<span class="price"> {{ product.price }} </span>
		</a>
		{% endfor %}
	</section>

	<!-- Info Section -->
	<section class="info">
		<img src="https://image.ibb.co/j4Qz8x/pic1.jpg" alt="">
		<div>
			<h2>Your Bussiness On The Web</h2>
			Irure duis dolore deserunt sunt sint cupidatat deserunt proident ad laborum in cillum adipisicing anim incididunt est aliquip id tempor.<p></p>
			<a href="" class="btn">Learn More</a>
		</div>
	</section>

	<!-- Portfolio -->
	<section class="portfolio">
		<img src="https://source.unsplash.com/random/200x200" alt="">
		<img src="https://source.unsplash.com/random/201x200" alt="">
		<img src="https://source.unsplash.com/random/202x200" alt="">
		<img src="https://source.unsplash.com/random/203x200" alt="">
		<img src="https://source.unsplash.com/random/204x200" alt="">
		<img src="https://source.unsplash.com/random/205x200" alt="">
		<img src="https://source.unsplash.com/random/206x200" alt="">
		<img src="https://source.unsplash.com/random/207x200" alt="">
	</section>
	{% endblock %}
