<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic/dist/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sites/home/common/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/sites/home/common/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sites/home/common/footer.css') }}">

	<title>{% block title %}Acme Photography{% endblock %}</title>
    {% block css %}
    {% endblock %}
</head>
<body>
    {% block menu %}
        {% include ('sites/home/common/menu.html') %}
    {% endblock %}

    <div class="ui container">

        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    	{% include ('sites/home/common/footer.html') %}
    {% endblock %}

    {% block script %}
    {% endblock %}
    <script src="{{ url_for('static', filename='semantic/dist/semantic.min.js') }}"></script>
</body>
</html>