{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div style="position:fixed; right: 0; left: 0;">
        <ul id="flash-messages" class="flashes" style="list-style-type: none; padding: 0 40px; ">
        {% for category, message in messages %}
          <li class="ui {{ category }} message" >{{ message }}</li>
        {% endfor %}
        </ul>
    </div>

  {% endif %}
  <script>
    $(function (){
        $('#flash-messages').ready(function(){
            $('html, body').animate({
                scrollTop: 0
            },2000);

            $(window).scroll(function(){
                if(document.documentElement.scrollTop == document.body.scrollTop){
                  $('#flash-messages').slideUp(2000);
                }
            });
        });
    });

  </script>
{% endwith %}

