<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic/dist/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sites/home/common/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sites/shop/common/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sites/shop/common/style.css') }}">


    {% block css %}
    {% endblock %}
	<title>{% block title %}Anh Thu Shop{% endblock %}</title>
</head>
<body>
	{% include 'sites/home/common/menu.html' %}

	<div class="wrapper">
		{% include 'sites/messages.html' %}

        {% block content %}

        {% endblock %}

		<!-- Footer -->
        {% block footer %}
    		{% include ('sites/home/common/footer.html') %}
    	{% endblock %}
	</div>
	<!-- Wrapper Ends -->
    {% block script %}
    {% endblock %}
    <script src="{{ url_for('static', filename='semantic/dist/semantic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>